# Eyestack 搜索目录，按需修改为不同的配置版本
if(CMAKE_BUILD_TYPE STREQUAL "Debug")
  set(Eyestack_DIR "D:/WAS/IICT/projects/build-Eyestack-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/cmake")
else()
  set(Eyestack_DIR "D:/WAS/IICT/projects/build-Eyestack-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/cmake")
endif()

# OpenCV 搜索目录
set(OpenCV_DIR "D:/ETC/opencv/4.5.3/build")

# Boost 搜索目录
set(BOOST_ROOT "D:/ETC/boost/1.76.0")

# 算法库搜索目录
set(GaoCe_DIR "D:/WAS/IICT/projects/Close_Gao_Ce/build-Algo-Desktop_Qt_5_15_2_MSVC2019_64bit-Release/_CPack_Packages/win64/ZIP/GaoCe-1.0.1-win64/cmake")
